.loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader_ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }

.loader_ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid rgb(211, 15, 15);
    border-color: rgb(211, 15, 15) transparent rgb(211, 15, 15) transparent;
    animation: loader_ring 1.2s linear infinite;
}

@keyframes loader_ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}