// ОБНУЛЕНИЕ ===================================================================================
@import url('./reset.scss');
// ШРИФТЫ ======================================================================================
// ---------------------------------------------------------------------------------------------
// ШРИФТ ПО УМОЛЧАНИЮ ==========================================================================
// ---------------------------------------------------------------------------------------------
// СТИЛИ ДЛЯ СЛАЙДЕРА ==========================================================================
@import url('./swiper.scss');
// ---------------------------------------------------------------------------------------------

html, body, #root {
    height: 100%;
}

.page_wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.bright {
    filter: brightness(40%);
    z-index: -1;
}


.error, .error:focus {
    border: 2px solid  #dc3545;  
}

.error__box {
    color: #dc3545;
    font-size: 16px;
}

.gradient-custom {
    background: #6a11cb;
}