.item  {
    display: flex;
    margin-top: 20px;
    color: #000;
    padding: 5px;
    border-radius: 5px;

    &:first-child {
        margin-top: 0;
    }

    &:hover {
        color: #FFF;
        background-color: #3b1663;
        cursor: pointer;
        transition: .5s background-color;
    } 

    .type {
        font-size: 15px;
        font-weight: 500;
    }
    
    .img {
        width: 45px;
        height: 50px;
    }
    
    .info {
        margin-left: 10px;
    }
}